<template>
  <div class="container">
    <h1 class="title is-1 has-text-centered">Steam Workshop Downloader</h1>
    <form @submit="checkForm">
      <div class="field">
        <p class="subtitle is-3">Steam Workshop Links or IDs</p>
        <p class="subtitle is-5">Enter Workshop Links or IDs seperated by new lines</p>
        <p class="subtitle is-6">
          Example:
          <code>https://steamcommunity.com/sharedfiles/filedetails/?id=421596934</code>
          or
          <code>685184665</code>
        </p>
        <div class="control">
          <textarea v-model="linkTextArea" class="textarea is-small"></textarea>
        </div>
      </div>
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <button type="submit" class="button is-primary">Submit</button>
        </p>
        <p class="control">
          <button type="submit" class="button is-light">Clear</button>
        </p>
      </div>
    </form>
    <div>
      <table class="table is-bordered is-hoverable is-striped is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Size</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in workshopItems" v-bind:key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.size}}</td>
            <td>
              <a href="#" @click.prevent="downloadMap(item)">Download</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h1 class="title is-pulled-left" v-if="downloading">Progress: {{current_progress}}</h1>
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <button
            v-on:click="downloadAll"
            class="button is-primary"
            :disabled="workshopItems.length <= 0"
          >Download all</button>
        </p>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import SteamService from '../services/steam.service';
import JSZip from 'jszip';
import axios from 'axios';

interface WorkshopItem {
  id: number;
  name: string;
  size: number;
  link: string;
}

function cleanLink(link: string): string {
  if (!isNaN(Number(link))) { return link; }
  if (
    link.startsWith('https://steamcommunity.com/sharedfiles/filedetails/?id=')
  ) {
    return link.substring(link.indexOf('=') + 1);
  }
  return '';
}

function sleep(ms: number) {
  return new Promise((resolve) => setTimeout(resolve, ms));
}

function triggerFileDownload(filename: string, blob: Blob) {
  const dlBlob = new Blob([blob], {
    type: 'application/octet-stream',
  });
  const link = document.createElement('a');
  link.href = window.URL.createObjectURL(dlBlob);
  link.download = filename;
  document.body.appendChild(link);
  link.click();
}

@Component
export default class WorkshopForm extends Vue {
  public linkTextArea: string = '';
  public workshopItems: WorkshopItem[] = [];
  public counter = 0;
  public downloading = false;
  public current_progress = '0';

  public checkForm(e: Event) {
    this.workshopItems = [];
    const ids: number[] = [];

    const lines = this.linkTextArea.split(/\r?\n/);
    lines.forEach((line) => {
      const id = cleanLink(line);
      if (id !== '') { ids.push(parseInt(id)); }
    });
    SteamService.get(ids)
      .then((res) => {
        // Parse through steam api and push items to table
        res.data.response.publishedfiledetails.forEach((detail: any) => {
          this.workshopItems.push({
            id: detail.publishedfileid,
            name: detail.filename,
            size: detail.file_size,
            link: detail.file_url,
          });
        });
      })
      .catch(function(error) {
        // handle error
        console.log('api error');
        console.log(error);
      });

    e.preventDefault();
  }

  public downloadMap(workshop_item: WorkshopItem) {
    console.log(workshop_item.name);
    // Download map 'zip'
    axios
      .get(workshop_item.link, {
        responseType: 'blob',
      })
      .then((res) => {
        // Unzip map
        JSZip.loadAsync(res.data).then((zip) => {
          const filename = workshop_item.name.substring(
            workshop_item.name.lastIndexOf('/') + 1,
          );
          // Get map in zip as blob
          zip
            .file(filename)
            .async('blob')
            .then((blob) => {
              // Trigger download
              triggerFileDownload(filename, blob);
            });
        });
      })
      .catch((err) => {
        console.log('zip download error');
        console.error(err);
      });
  }

  public async downloadAll() {
    const allZip = new JSZip();
    const mapCount = this.workshopItems.length;
    let count = 0;
    this.current_progress = '';
    this.downloading = true;
    // Go through each item and download map (uncompressed), then add to zip
    this.workshopItems.forEach((workshop_item) => {
      axios
        .get(workshop_item.link, {
          responseType: 'blob',
        })
        .then((res) => {
          JSZip.loadAsync(res.data).then((zip) => {
            const filename = workshop_item.name.substring(
              workshop_item.name.lastIndexOf('/') + 1,
            );
            this.current_progress = 'Downloading and extracting ' + filename;
            zip
              .file(filename)
              .async('blob')
              .then((blob) => {
                allZip.file(filename, blob);
                console.log(filename);
                count++;
              });
          });
        });
    });
    console.log('mapcount: ' + mapCount);
    while (count < mapCount) {
      await sleep(10);
    }
    // Finished downloading all maps
    this.current_progress = 'Zipping all maps. 0.00%';
    allZip
      .generateAsync(
        {
          type: 'blob',
          compression: 'DEFLATE',
          compressionOptions: {
            level: 6,
          },
        },
        (metadata) => {
          this.current_progress =
            'Zipping all maps. ' + metadata.percent.toFixed(2) + '%';
          console.log('progression: ' + metadata.percent.toFixed(2) + ' %');
        },
      )
      .then((blob) => {
        this.downloading = false;
        triggerFileDownload('allmaps.zip', blob);
      });
  }
}
</script>

<style scoped>
form {
  padding: 20px;
}
</style>
